# Git
.git*

# Dependencies
node_modules/

# Build outputs
.next
build/

# Dev / local
.vagrant
Vagrantfile
*.log
*.tmp

# Environment & secrets
.env*

# Documentation
*.md
docs/
LICENSE

# Docker
Dockerfile*
docker-compose*.yml

